[Desktop Entry]
Name=Update System
Comment=System updater for LegendaryOS
Exec=update-system
Icon=update-system
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
